<%=simple_form_for(task) do |f| %>

<div class="col-md-6">
    <div class="form-group">
        <%= f.input :title, label: "任務名稱" %>
    </div>
    <div class="form-group">
        <%= f.input :context, label: "描述" %>
    </div>
    <div class="form-group">
        <%= f.label "狀態 " %>
        <%= f.select :status, Task.statuses.collect {|k,v| [k.capitalize, k]}  %> 
    </div>
    <div class="form-group">
        <%= f.label "優先權 " %>
        <%= f.select :priority, Task.priorities.collect {|k,v| [k.capitalize, k]}  %>
    </div>
    <div class="form-group">
        <%= f.label "截止日期" %>
        <%= f.date_select(:end_date, :order => [:year, :month, :day]) %>
    </div>
    <%= f.button :submit, "保存", class: "btn btn-success" %>
</div>
<% end %>