<h1>目前任務</h1>

<div class="col-md-4">
    <div class="default-block">    
      <p> Title: <%= @task.title %></p>
      <p> Due: <%= @task.end_date %> </p>
      <p> Status: <%= @task.status %></p>
    </div> <!-- default block end  -->
</div> <!-- col-md-4 end -->
    
<br />
<%= link_to "刪除", tasks_path(@tasks), method: "delete", data: { confirm: "確認刪除" }, class:"btn btn-danger" %>      
<%= link_to '回列表', tasks_path, class: "btn btn-info" %>