<h1>任務列表</h1>
<% provide :my_title, "Rails 任務管理" %> 

  <%= link_to "新增任務" , new_candidate_path %>
  <table class = "table">
    <thead>
      <tr>
        <td>投票</td>
        <td>任務名稱</td>
        <td>描述</td>
        <td>備註</td>
        <td>統計</td>
        <td>目前狀態</td>
        <td>截止日期</td>
        <td>處理</td>    
      </tr>
    </thead>
    <tbody>   
         <% @candidate.each do |candidate| %>
            <tr>
            <<td><%= link_to "+1測試", vote_candidate_path(candidate), method: "post", data: { confirm: "確認要+1嗎?!" }, class:"btn btn-warning btn-xs" %></td> 
            <td><%= candidate.name %></td>
            <td><%= candidate.party %></td>
            <td><%= candidate.politics %></td>
            <td><%= candidate.vote_logs.size %></td>
            <td><%= link_to "狀態TEST未完成"%></td>          
            <td><%= candidate.time %></td>
            
            <td>
            <%= link_to "編輯", edit_candidate_path(candidate),class: "btn btn-info" %>
            <%= link_to "刪除", candidate_path(candidate), method: "delete", data: { confirm: "確認刪除" }, class:"btn btn-danger" %>      
            </td>
            </tr>
        <%end%>
    </tbody>
  </table>

  <%= paginate @candidate%>
 